# Ignore temp MacOS and MATLAB files
**/*.DS_Store
*.m~
*.asv

# Ignore results folder
/Results/**

# Don't ignore saved parameter files in the results folder
#!/Results/**/
#!*parameters.mat
#!*pfsim.mat




